<div class="h3 page-header">Todo List</div>

<table class="table" ng-if="listCtrl.todolist.length !== 0">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Date</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in listCtrl.todolist">
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td>{{item.date}}</td>
			<td>{{item.status}}</td>
			<td><button ng-click="listCtrl.edit(item)" class="glyphicon glyphicon-edit"></button></td>
			<td><button ng-click="listCtrl.delete(item)" class="glyphicon glyphicon-remove"></button></td>
		</tr>
	</tbody>
</table>

<div class="alert alert-danger" ng-if="listCtrl.todolist.length === 0">No Todos</div>

<button class="btn btn-primary" ng-click="listCtrl.add()">Add a Todo <span class="glyphicon glyphicon-plus"></span></button>

